.copyright-spacing {
  display: flex;
  justify-content: center;
}
.copyright {
  font-weight: bold;
  font-size: 16px;
  margin: 8px;
}
.work-in-progress {
  font-size: 1.15rem;
  color: white;
  font-style: italic;
}
.site-background {
  background: linear-gradient(35deg, lightblue, rgba(140, 140, 140, 0.5), lightgreen);
  padding: 0.5rem;
}
.general-spacing {
  margin: 1rem;
}
.basic-margin {
  margin: 1rem;
}
.center-text {
  text-align: center;
}
.title {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
.mission-background {
  min-height: 90vh;
  width: 80vw;
  background: radial-gradient(rgb(255,255,255) 3%, rgb(74,15,185) 20%, rgba(144, 238, 144, 0.2) 75%, rgba(0,0,0, 0.02) 2%);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: solid 2px rgba(140, 140, 140, 0.1);;
  outline: none;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
  box-shadow: 10px 10px 5px rgba(104, 104, 104, 0.1);
  position: relative;
}
.mission-background::before {
  content: "";
  min-height: 20%;
  width: 20%;
  background: radial-gradient(rgba(255,255,255, 0.1) 25%, rgba(255,255,255, 0.1) 25%);
  padding: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 50%;
  top: 22%;
  right: 34.5%;
  box-shadow: 5px 5px 5px rgba(104, 104, 104, 0.1);
  position: absolute;
}
.mission-heading-first-word {
  text-decoration: underline;
  margin: -1rem;
  opacity: 0.8;
}
.mission-heading-second-word {
  text-decoration: underline;
  margin: 1rem;
  opacity: 0.8;
}
.mission-paragraph-1 {
  margin: 14rem 3rem 1rem;
  color: black;
  opacity: 0.7;
  border: none;
  border-radius: 20%;
  background: rgba(255,255,255,0.25);
  padding: 0.25rem;
  box-shadow: 5px 5px 5px rgba(104,104,104,0.2);
}
.word-block {
  background: rgb(181, 215, 226);
  margin: 1rem auto 1rem;
  padding: 1rem;
}
.submit-word {
  cursor: pointer;
}
.form-and-word-block {
  margin: -1rem 1rem 1rem;
}
.word {
  text-transform: capitalize;
}
.part-of-speech {
  margin: auto auto 1rem;
}
.audio-block {
  margin: 1rem;
}
.canvas-area-relative {
  position: relative;
}
.video-canvas-spacing {
  min-height: 30rem;
  width: 33rem;
  margin: 2rem auto 1rem;
  display: flex;
  justify-content: center;
}
.video-area {
  min-height: 28rem;
  width: 30rem;
  display: flex;
  transform: scaleX(-1);
}
.video-size {
  position: relative;
  min-height: 28rem;
  width: 30rem;
}
.canvas-area {
  position: absolute;
  min-height: 784px;
  width: 840px;
}
#symbolSpacing {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
  background: white;
  position: absolute;
  top: 1%;
  left: 75%;
  padding: 0.5rem;
}
#stop-webcam {
  margin: 0rem auto 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10%;
  background: linear-gradient(135deg, lightblue, rgba(140, 140, 140, 0.5), lightgreen);
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  cursor: pointer;
}
.word-bank-spacing {
  display: flex;
  justify-content: flex-end;
}
.word-bank {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
}
.word-bank-button {
  background: rgba(23, 35, 235, 0.7);
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 8rem;
}
.word-bank-content {
  text-transform: capitalize;
  position: absolute;
  display: none;
  z-index: 1;
  background: rgba(140, 140, 140, 1);
  width: 100%;
  box-shadow: 3px 3px 3px rgba(104, 104, 104, 0.2);
}
.word-bank-content > div {
  display: flex;
  justify-content: center;
}
.word-bank-content > div > input {
  display: block;
  width: 100%;
  text-transform: capitalize;
}
.word-bank-content > div > input:hover {
  background: rgba(103, 110, 243, 1);
}
.word-bank:hover .word-bank-content {
  display: block;
}
.word-bank:hover .word-bank-button {
  background: rgba(23, 235, 35, 0.8);
}