.siteBackground {
  background: linear-gradient(35deg, lightblue, rgba(140, 140, 140, 0.5), lightgreen);
  padding: 0.5rem;
}
.generalSpacing {
  margin: 1rem;
}
.basicMargin {
  margin: 1rem;
}
.centerText {
  text-align: center;
}
.title {
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
.wordBlock {
  background: rgb(181, 215, 226);
  margin: 1rem auto 1rem;
  padding: 1rem;
}
.submitWord {
  cursor: pointer;
}
.formAndWordBlock {
  margin: -1rem 1rem 1rem;
}
.word {
  text-transform: capitalize;
}
.partOfSpeech {
  margin: auto auto 1rem;
}
.audioBlock {
  margin: 1rem;
}
.videoCanvasSpacing {
  height: 25rem;
  width: 30rem;
  margin: 2rem auto 1rem;
  display: flex;
  justify-content: center;
}
.videoArea {
  height: 25rem;
  width: 30rem;
  display: flex;
  transform: scale(-1,1);
}
.videoSize {
  position: relative;
  height: 25rem;
  width: 30rem;
}
.canvasArea {
  position: absolute;
  height: 25rem;
  width: 30rem;
}
#stopWebcam {
  margin: 0rem auto 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 10%;
  background: linear-gradient(135deg, lightblue, rgba(140, 140, 140, 0.5), lightgreen);
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: capitalize;
  cursor: pointer;
}